<h1>New Celebrity page</h1>

<form action="/celebrities/create" method="POST">
<label>Name: <input type="text" name="name"/></label>
<label>Occupation: <input type="text" name="Occupation"/></label>
<label>Catch Phrase: <input type="text" name="catchPhrase"/></label>

<br/>
<button type="submit"> Create Celebrity</button>
</form>

